<div ng-controller="EstimatePropertyCtrl as vm" class="container">
  <form ng-submit="vm.addProperty()">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>Sell Now</h2>
        <small>**Allow 48 hours for an agent to get in contact with you**</small>
      </div>
      <div class="col-xs-12 col-md-6">
        <h2>Listing Price</h2>
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita debitis inventore architecto nobis alias aspernatur, sapiente quia reiciendis aliquid explicabo. Dignissimos magni earum ex accusantium ipsum, eaque aspernatur nostrum fugiat!</small>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        ${{(((vm.newProperty.gross_rent*12)*0.65)/0.04)*.7 }}
      </div>
      <div class="col-xs-12 col-md-6">
        ${{(((vm.newProperty.gross_rent*12)*0.65)/0.04)*.9 }} - ${{ (((vm.newProperty.gross_rent*12)*0.65)/0.04)*1.1 }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-6-offset-6"></div>
      <div class="col-xs-12 col-md-6">
        <button ui-sref="main.confirmationSellNow">Sell Now</button>
        <button ui-sref="main.confirmationListingAgent">Contact an Agent</button>
      </div>
    </div>
  </form>
</div>
