<div ng-controller="EstimatePropertyCtrl as vm" class="container-fluid">
  <header class="text-center">
    <h1>Estimate Your Property</h1>
  </header>
  <br>
  <div class="vertical-center">
    <form ng-submit="vm.addProperty()">
      <!-- ENTER GROSS RENT -->
      <div class="row" ng-hide="showMe = showMe" style="border: 3px solid blue">
        <div class="col-xs-12 col-md-12">
          <div class="text-center content-spacing">
            <label for="new-property-gross-rent">Gross Rent</label>
            <input required type="number" id="new-property-gross-rent" placeholder="" ng-model='vm.newProperty.gross_rent'>
          </div>
        </div>
        <button ng-click="showMe=1">Submit</button>
      </div>

      <!-- SHOW RANGE AND INPUT ADDRESS -->
      <div class="row" ng-show="showMe==1" style="border: 3px solid green">
        <div class="col-xs-12 col-md-12 content-spacing">
          <h1 class="text-center" ng-model="vm.newProperty.estimation">
            ${{ (((vm.newProperty.gross_rent*12)*0.65)/0.04)*.9 }} - ${{ (((vm.newProperty.gross_rent*12)*0.65)/0.04)*1.1 }}
          </h1>
        </div>
        <div class="col-xs-12 col-md-12">
          <div class="text-center">
            <label for="new-property-address">Address</label>
            <input required type="text" id="new-property-address" placeholder="" ng-model='vm.newProperty.address'>
          </div>
        </div>
        <button ng-click="showMe = 2">Next</button>
      </div>

      <!-- SHOW AMOUNT IN CASH & SELL NOW OR CONTACT AGENT -->
      <div class="row" ng-show="showMe==2" style="border: 3px solid pink">
        <div class="col-xs-12 col-md-12 content-spacing">
          <h1 class="text-center">
            Amount in Cash: ${{ (((vm.newProperty.gross_rent*12)*0.65)/0.04)*.7 }}
          </h1>
        </div>
      <button type="submit" value="Submit">Sell Now</button>
      </div>
    </form>
  </div>

</div>

